body {
    line-height: 20px;
    font-family: 'Droid Sans',Arial,Verdana,sans-serif;
    font-size: 12px;
    color: #626262;
    /*text-shadow: 1px 1px 1px #ffffff;*/
    background: #f4f4f4 url('../images/body-bg.png');
}
h2, h4 {
    font-family: 'Lobster', cursive;
    color: #d7594c;
}
h1, h3 {
    font-family: 'Roboto Slab', serif;
    color: #678e8d;
}

/* BEGIN :: HEADER =============================== */
header {
    height: 274px;
    background: #fff url('../images/header-bg.png') repeat-x;
}
header .logo {height: 80px;}
header .logo h2 {font-size: 4em;}
header .logo h2 small {color: #555;}
header .logo h4 {
    color: #678e8d;
    font-size: 2.4em;
    font-family: 'Roboto Slab', serif;
    line-height: 80px;
}
header .logo h4 span {font-family: Arial,Verdana,sans-serif;margin-top: -4px;}
header .logo h2 span {color: #678e8d;}
header .container {
    padding-left: 0;
    padding-right: 0;
}
header .img-responsive {
    margin-left: 0;
    margin-right: 0;
}
/* END :: HEADER =============================== */

/* BEGIN :: MAIN =============================== */
#content {
    clear: left;
}
#content > .container {
    padding-top: 30px;
    position: relative;
}
#content > .container > .wrap {
    background: url('../images/content-bg.png');
    padding: 0 20px;
    border: 1px solid #e4e4e4;
    /*-webkit-box-shadow: 0 0 3px rgba(77, 77, 77, 0.3);
    -moz-box-shadow: 0 0 3px rgba(77, 77, 77, 0.3);
    box-shadow: 0 0 3px rgba(77, 77, 77, 0.3);*/
}
#content > .container > #content-top-shadow {
    padding: 0;
    margin: 0;
    background: url('../images/content-top-border-shadow.png') no-repeat 50% 0%;
    min-height: 28px;
}
#content > .container section {
    background: url('../images/divider-shadow.png') no-repeat 50% 0%;
    padding-top: 4px;
    margin-top: 30px;
}
#content > .container > #content-bottom-shadow {
    background: url('../images/content-bottom-border-shadow.png') no-repeat 50% 100%;
    height: 28px;
}
#testimonials {text-align: center;}
#content > .container #testimonials {
    background: transparent;
    padding-top: 0;
    margin-top: 0;
}
#testimonials h3 {line-height: 20px;}
#testimonials h3.h3-bottom {margin-top: 0;}
#testimonials p {margin-top: 15px;font-size: 1.2em;}
#testimonials img {
    -webkit-box-shadow: 0 0 4px rgba(77, 77, 77, 0.4);
    -moz-box-shadow: 0 0 2px rgba(77, 77, 77, 0.4);
    box-shadow: 0 0  4px rgba(77, 77, 77, 0.4);
}
#testimonials .values i {
    /*margin-right: 15px;
    background: #678e8d;
    color: #fff;
    font-size: 1.5em;*/
}
#callback h2, #plans h2, #principles h2, #samples h2, #latest-form h2, #team h2 {
    text-align: center;
}
#callback ul {list-style-type: none;}
#callback ul li {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    margin-top: 14px;
    text-transform: uppercase;
}
#callback ul li span {
    display: inline;
    background: #678e8d;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 4px;
    color: #fff;
    margin-right: 10px;
}
#callback .well {
    padding-top: 0;
    padding-bottom: 0;

    text-align: center;
}
#callback .well h2, #callback .well h3, #callback .well h4 {
    font-family: 'Roboto', serif;
}
#callback .well h2 {
    font-weight: bold;
}
#callback .well h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}
#callback .well h4 {
    font-size: 1.1em;
    color: #678e8d;
    line-height: 0.4;
}
#callback .well mark {
    color: #d7594c;
    font-weight: bold;
    background: transparent;
}
#callback .well .input-group {
    width: 100%;
    margin-bottom: 10px;
}
#callback .info {
    margin-top: 20px;
    padding-top: 30px;
    background: url("../images/divider-shadow-sm.png") 50% 0% no-repeat;
}
#callback .info p {
    font-family: 'Roboto', serif;
    font-size: 1.3em;
}
#team h2 {margin-bottom: 30px;}
#team .bg-div {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    background: #678e8d;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
}
#team .bg-div span {
    font-size: 40px;
    line-height: 70px;
    color: #fff;

}
#team h3 {
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
}
#team p {
    clear: both;
    font-family: 'Roboto', serif;
    font-size: 1.3em;
    margin-top: 30px;
}
#samples img {margin-bottom: 15px;}
#samples p.values {
    margin: 0;
    font-size: 1.2em;
}
#latest-form h3, #plans h3 {
    font-family: 'Roboto', serif;
    font-size: 1.9em;
    padding: 10px;
}
#latest-form h3 mark, #plans h3 mark {
    background: transparent;
    color: #d7594c;
    font-weight: bold;
}
#latest-form .form-div, #plans .form-div {
    padding-top: 24px;
}

/* END :: MAIN ================================= */

/* BEGIN :: FOOTER ============================= */
footer {
    padding-top: 0;
    margin-top: -50px;
}