header {
    background-color: paleturquoise;
}
.bg-video {
    background-color: antiquewhite;
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
}
.bg-video-wrapper {
    background-color: beige;
    z-index: 600;
    position: relative;
}
.bg-video .bg-video_container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.logo {
    background-color: aliceblue;
}
.descr {
    background-color: coral;
}
.mask {
    background-image:url("images/bg_video_cover.png");
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
}
#video {height: 400px; min-height: 400px; width: 100%;}