/* Отступы */
.top-margin-10 {margin-top: 10px !important;}
.top-margin-20 {margin-top: 20px !important;}
.top-margin-30 {margin-top: 30px !important;}
.top-margin-40 {margin-top: 40px !important;}
.top-padding-20 {padding-top: 20px !important;}
.top-padding-30 {padding-top: 30px !important;
}
/* Шрифты, кегль, начертание, ... */
.font-bold, .font-h1, .font-h2, .font-regular, .font-regular-space, .font-h3-regular
, .font-h2-regular, .font-h3-regular-space {
    font: 600 1.5rem/2rem 'Open Sans', sans-serif;
}
.font-h1 {
    font-size: 2.6rem;
    line-height: 2.7rem;
}
.font-h2, .font-h2-regular {
    font-size: 2.1rem;
    line-height: 2.2rem;
}
.font-h3, .font-h3-regular, .font-h3-regular-space {
    font-size: 1.8rem;
    line-height: 1.85rem;
}
.font-regular, .font-h2-regular, .font-h3-regular, .font-regular-space {
    font-weight: 400;
}
.font-header {
    font-size: 5.2rem;
    line-height: 5.4rem;
    font-weight: 400;
}
.font-regular-space {line-height: 2.7rem;}
.font-h3-regular-space {line-height: 2.7rem;}

/* Цвета */
.color-light {color: #dedede;}
.color-lighten {color: #fff;}
.color-dark {color: #565656;}
.color-darken {color: #000;}
.color-light-green {color: rgb(26, 188, 156);}


/* Кнопки */
.btn-animations {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    z-index: 3;
    transition: all 0.25s ease;
    overflow: hidden;
    padding: 14px 20px 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    background: rgb(26, 188, 156);
}
.sign-warning { /* Предупреждения, знаки ... */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1px rgb(186, 187, 188);
    background: rgba(255, 255, 255, 0.29);
    color: #444444;
    line-height: 6rem;
    font-size: 5rem;
    padding-right: 4px;
}
.sign-warning-glyph { /* Предупреждения, знаки ... */
    /*background: rgba(255, 255, 255, 0.29);*/
    color: #ddd;
    line-height: 6rem;
    font-size: 5rem;
}
.btn-light-green {
    color: #fff;
    background-color: rgb(26, 188, 156);
    transition: all 0.35s ease;
    padding: 10px 16px;
}
.btn-light-green:hover {
    color: #eee;
    background-color: rgb(0,0,0);
}