header {
    height: 800px;
    text-align: center;
    background: url("images/bg_drokino.jpg");
    position: relative;
    z-index: 99;
    top: -20px;
}
.header_logo {
    padding-top: 200px;
    font: 18rem/13rem 'Russo One', sans-serif;
    text-transform: uppercase;
    color: rgb(26, 188, 156);
    text-shadow: 0 -2px 1px rgba(0,0,0,0.49);
}
.header_logo .word2 { /* Второе слово (Качинский ЯР)*/
    color: #fff;
}
.header_top {
    padding: 0;
    height: 100%;
}
.header_descr {
    padding-top: 50px;
    font: 600 3.6rem/3.6rem 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.header_next-button {
    position: absolute;
    bottom: 120px;
    cursor: pointer;
    display: inline-block;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: solid 1px rgb(26, 188, 156);
    background: rgba(26, 188, 156, 0.498039);
}
.header_next-button:hover { background: rgb(26, 188, 156); }
.header_next-button span {
    color: rgba(255, 255, 255, 0.59);
    font-size: 4rem;
    line-height: 8rem;
    padding-right: 5px;
}
.header_bottom {
    height: 80px;
    /*background-color: rgba(0,0,0,0.2);*/
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.content {
    text-align: center;
}
.content section {
    margin-top: 40px;
}
.circle-light {
    width: 110px;
    height: 110px;
    border-radius: 200%;
    border: 7px solid #1abc9c;
    background-color: rgba(255,255,255,0.2);
    margin: 0 auto;
}
.circle-light span {
    line-height: 94px;
    color: #dedede;
    font-weight: bold;
    font-size: 6rem;
    margin-left: -2px;
}
/*.font-regular {
    font-weight: normal !important;
}*/
.tech {
    min-height: 360px;
    background: #999 url("images/bg_video_cover.png") repeat;
    padding-top: 40px;
    padding-bottom: 30px;
}
.contacts {
    background: #999 url("images/bg_video_cover.png") repeat;
    padding-top: 40px;
    padding-bottom: 30px;
}
.address-group {
    width: 100%;
    clear: both;
}

.address-glyph {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /*border: solid 1px rgb(186, 187, 188);*/
    color: #fff;
    background-color: rgb(26, 188, 156);
    line-height: 8.5rem;
    font-size: 4.2rem;
    /*padding-right: 0;*/
    float: left;
}
.address-text {
    text-align: left;
    font: 400 2.1rem/2.6rem 'Open Sans', sans-serif;
    margin-left: 100px;
    color: #fff;
}
.contact-form-control, .form-content .textareablock {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 15px 20px;
}
.form-content input,.form-content textarea {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-width: initial;
    border-style: none;
    border-color: initial;
    margin-bottom: 15px;
}
.form-content input, .form-content textarea {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    border-radius: 0;
}
.form-content input:focus,.form-content textarea:focus {
    /*outline-color: #eeeeee;*/
    outline-color: rgba(26, 188, 156, 0.7);;
}
.form-content textarea {height: 155px;}
.contacts .form-content a, .about a {
    border-radius: 0;
    margin-left: 0;
    margin-right: auto;
}