.experience-item {
    position:relative;
    padding-top:35px;
    margin-bottom:35px;
}
.experience-item:before {
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease;
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    top:0;
    left:0;
    background:#eee;
}
.experience-item:first-child { padding-top:0px; }
.experience-item:first-child:before { display:none; }
.experience-item-wrapper {
    position:relative;
    overflow:hidden;
}
.experience-item-wrapper:before {
    -webkit-transition:all 0.35s ease;
    -moz-transition:all 0.35s ease;
    -o-transition:all 0.35s ease;
    transition:all 0.35s ease;
    -webkit-transition-delay:.2s;
    -moz-transition-delay:.2s;
    -o-transition-delay:.2s;
    transition-delay:.2s;
    content:'';
    position:absolute;
    width:1px;
    height:100%;
    top:0;
    left:300px;
    background:#eee;
}
.experience-info-holder {
    overflow:hidden;
    position:relative;
    padding:20px 30px 20px 0;
    width:270px;
    float:left;
}
.experience-info {
    -webkit-transition:all 0.7s ease;
    -moz-transition:all 0.7s ease;
    -o-transition:all 0.7s ease;
    transition:all 0.7s ease;
    -webkit-transition-delay:.55s;
    -moz-transition-delay:.55s;
    -o-transition-delay:.55s;
    transition-delay:.55s;
    position:relative;
    left:0;
    text-transform:uppercase;
    text-align:right;
}
.experience-date {
    position:relative;
    overflow:hidden;
    padding-bottom:22px;
    margin-bottom:17px;
}
.experience-date .experience-date-left, .experience-date .experience-date-right {
    float:right;
    text-align:center;
}
.experience-date .experience-date-right { margin-left:30px; }
.experience-date .experience-date-start-month, .experience-date .experience-date-end-month { min-height:25px; }
.experience-date .experience-date-start-year, .experience-date .experience-date-end-year { min-height:36px; }
.experience-date .experience-date-start-year, .experience-date .experience-date-end-year {
    font-size:36px;
    line-height:36px;
    font-weight:bold;
}
.experience-date .experience-date-end-month, .experience-date .experience-date-end-year { color:#1abc9c; }
.experience-date .experience-date-end-year { position:relative; }
.experience-date .experience-date-end-year:before {
    content:'';
    position:absolute;
    top:19px;
    left:-19px;
    width:10px;
    height:5px;
    background:#2a2b2c;
}
.experience-date:before {
    content:'';
    position:absolute;
    width:110px;
    height:1px;
    bottom:0;
    right:0;
    background:#eee;
}
.experience-company {
    font-size:18px;
    line-height:25px;
    color:#1abc9c;
}
.experience-position {
    font-size:12px;
    line-height:25px;
}
.experience-desc-holder {
    overflow: hidden;
    padding: 30px 0 20px 60px;
    text-align: left;
}
.experience-desc {
    -webkit-transition:all 0.7s ease;
    -moz-transition:all 0.7s ease;
    -o-transition:all 0.7s ease;
    transition:all 0.7s ease;
    -webkit-transition-delay:.55s;
    -moz-transition-delay:.55s;
    -o-transition-delay:.55s;
    transition-delay:.55s;
    position:relative;
    left:0;
}
.experience-desc h5 {
    font-weight:400;
    margin:0 0 15px;
}
.experience-desc h5 a {
    color:#2a2b2c;
    text-transform: uppercase;
    font: normal 18px/25px Open Sans;
    text-decoration: none;
}
.experience-desc h5 a:hover { color:#1abc9c; }
.experience-item.object-hidden:before {
    width:0;
    left:50%;
}
.experience-item.object-hidden .experience-info { left:100%; }
.experience-item.object-hidden .experience-desc { left:-100%; }
.experience-item.object-hidden .experience-item-wrapper:before {
    height:0;
    top:50%;
}


/*
.experience-info-holder {
    position: relative;
    width: 270px;
    float: left;
    overflow: hidden;
    padding: 20px 30px 20px 0px;
}
.experience-info {
    position: relative;
    left: 0px;
    text-transform: uppercase;
    text-align: right;
    transition: all 0.7s ease 0.55s;
}
.experience-date .experience-date-end-year {
    position: relative;
}
.experience-date .experience-date-end-month, .experience-date .experience-date-end-year {
    color: rgb(26, 188, 156);
}
.experience-date .experience-date-start-month, .experience-date .experience-date-end-month {
    min-height: 25px;
}
.experience-date {
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 17px;
    overflow: hidden;
}
.experience-date .experience-date-right {
    margin-left: 30px;
}
.experience-date .experience-date-left, .experience-date .experience-date-right {
    float: right;
    text-align: center;
}
.experience-date .experience-date-right {
    margin-left: 30px;
}

.experience-date .experience-date-start-year, .experience-date .experience-date-end-year {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}
.experience-company {
    font-size: 18px;
    line-height: 25px;
    color: rgb(26, 188, 156);
}
.experience-position {
    font-size: 12px;
    line-height: 25px;
}*/
