.btn-animations:hover::before {
    visibility: visible;
    width: 150%;
    left: -25%;
}
.btn-animations::before {
    transform: skew(45deg, 0deg);
    backface-visibility: hidden;
    content: "";
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 50%;
    width: 0px;
    height: 100%;
    z-index: -1;
    transition: all 0.35s ease;
    background: rgb(42, 43, 44);
}