@media only screen and (min-width:1024px) {

} /* / @media only screen and (min-width:1024px) */
@media (max-width: 767px) {
    .experience-item-wrapper:before { display:none; }
    .experience-info-holder {
        float:none;
        padding:0;
        width:100%;
    }
    .experience-desc-holder { padding-left:0; }
}